<div class="d-md-flex justify-content-around ">
  <div class="detail-img">
    <img src="http://localhost:5000/{{ product.item_img }}" alt="" class="w-100 h-100">

  </div>

  <div class="card ">
    <div class="card-body" >
       <h5 class="card-title">{{ product.item_name }}</h5>
      <h5 class=" text-success">{{ product.price | currency:"INR" }}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{ product.category.category_name }}</h6>
      <p class="card-text">{{ product.description }}</p>
      <div class=" d-none d-md-flex justify-content-around mt-3">
        <button type="button" class="btn btn-warning w-50 mx-1" (click)="addCart(product._id)">Add To Cart</button>
        <button type="button" class="btn btn-warning w-50 mx-1" (click)="buyNow(product._id)">Buy Now</button>
      </div>
    </div>
   </div>
   <div class="d-flex d-md-none justify-content-center  position bg-white p-2 ">
    <button type="button" class="btn btn-warning w-50 mx-2" (click)="addCart(product._id)">Add To Cart</button>
    <button type="button" class="btn btn-warning w-50" (click)="buyNow(product._id)">Buy Now</button>
  </div>

