<main>
  <div class="container-fluid px-4">
      <h1 class="mt-4">Items Tables</h1>

      <div class="card mb-4 mt-5">
          <div class="card-body d-flex">
             <h4 class="px-3">Add New Item</h4>
             <button class="btn btn-primary " routerLink="/additem">Add Item</button>
          </div>
      </div>
      <div class="card mb-4">

          <div class="card-body" style="overflow-x:auto;">
            <form  style="margin: 0 auto ;">
              <div class="input-group">
                  <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                  <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
              </div>
          </form>
            <hr>
              <table >
                  <thead>
                      <tr>
                          <th>No.</th>
                          <th>Image</th>
                          <th>Name</th>
                          <th>Price</th>
                          <th>Stock</th>
                          <th>Category</th>
                          <th>Operation</th>

                      </tr>

                  </thead>
                  <tbody>

                      <tr *ngFor="let item of item; let i=index ">
                          <td>{{ i+1 }}</td>
                          <td>
                            <img src="http://localhost:5000/{{ item.item_img }}" alt="" style="width:60px;height:60px;">
                          </td>
                          <td>{{ item.item_name }}</td>
                          <td>{{ item.price }}</td>
                          <td>{{ item.stock }}</td>
                          <td>{{ item.category.category_name }}</td>
                          <td class="d-flex">
                            <button class="btn btn-outline-primary mx-2" routerLink="/viewItem/{{ item._id }}"><i class="fas fa-eye"></i></button>
                            <button class="btn btn-outline-success mx-2"routerLink="/updateitem/{{ item._id }}"><i class="fas fa-edit"></i></button>
                            <button class="btn btn-outline-danger mx-2" (click)="deleteItem(item._id)" ><i class="fas fa-trash"></i></button>
                          </td>
                      </tr>

                  </tbody>
              </table>
          </div>
      </div>
  </div>
</main>
