<div id="layoutSidenav_nav">
  <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
      <div class="sb-sidenav-menu">
          <div class="nav">
              <a class="nav-link" href="/">
                  <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                  Dashboard
              </a>
              <a class="nav-link collapsed" href="/user" >
                  <div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>
                  User
                </a>

              <a class="nav-link collapsed" href="/category" >
                  <div class="sb-nav-link-icon"><i class="fas fa-file-alt"></i></div>
                  Category
                </a>
                <a class="nav-link" href="/item">
                  <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                  Items
              </a>
              <a class="nav-link collapsed" href="/category" >
                <div class="sb-nav-link-icon"><i class="fas fa-file-alt"></i></div>
                Slider
              </a>
              <div class="nav-link collapsed " style="cursor: pointer ;"  routerLink="/order" >
                <div class="sb-nav-link-icon"><i class="fas fa-file-alt"></i></div>
                order
              </div>
              <div class="nav-link collapsed" style="cursor: pointer ;" routerLink="/delivered" >
                <div class="sb-nav-link-icon"><i class="fas fa-file-alt"></i></div>
                Delivered
              </div>
              <a class="nav-link" href="tables.html">
                  <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                  Tables
              </a>
          </div>
      </div>

  </nav>
</div>
